parameters:
  level: max
  paths:
    - src

  bootstrapFiles:
    - tests/bootstrap-phpstan.php

  checkUninitializedProperties: true
  reportUnmatchedIgnoredErrors: true

  excludePaths:
    - vendor
    - tests
